@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.mic__head::after {
    content: "";
    display: inline-block;
}

.toggle-label,
.round,
.recording,
.mic__head::after,
.mic,
svg {
    position: absolute;
    top: 50%;
    left: 50%;
}

#translatedText {
    color: white;
}

.section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #7B1FA2 50%, #F06292 90%);
    color: #333;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.full-height {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.frame {
    position: relative;
    width: 130px;
    height: 130px;
    margin: 0 auto;
}

input {
    display: none;
}

svg {
    width: 130px;
    height: 130px;
    margin-top: -65px;
    margin-left: -65px;
}

svg .circle-svg {
    stroke: #F5F5F5;
    stroke-width: 3;
    fill: transparent;
}

.mic {
    width: 85px;
    height: 85px;
    margin-top: -42.5px;
    margin-left: -42.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.mic__head {
    background: linear-gradient(45deg, #E0E0E0 50%, white 50%);
    width: 25.5px;
    width: 30px;
    height: 63.75px;
    border-radius: 30px;
}

.mic__head::after {
    top: 10%;
    background: linear-gradient(45deg, #7B1FA2 50%, #F06292 90%);
    width: 8px;
    height: 20px;
    border-radius: inherit;
    transform: translate(-50%);
}

.mic__neck {
    background: linear-gradient(45deg, #E0E0E0 50%, white 50%);
    width: 4.25px;
    height: 17px;
}

.mic__leg {
    background: linear-gradient(45deg, #E0E0E0 50%, white 50%);
    width: 25.5px;
    height: 4.25px;
    border-radius: 50px;
}

.recording {
    width: 85px;
    height: 85px;
    margin-top: -42.5px;
    margin-left: -42.5px;
    transform: scale(0.5);
    opacity: 0;
    transition: all 0.3s 0s ease;
}

.round {
    background: white;
    width: 12.75px;
    height: 12.75px;
    border-radius: 50%;
    margin-top: -6.375px;
    margin-left: -6.375px;
    -webkit-animation: recording 1s ease-in-out infinite;
    animation: recording 1s ease-in-out infinite;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

.round:first-child {
    left: 20%;
}

.round:nth-child(2) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.round:last-child {
    left: 80%;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.toggle-label {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-top: -65px;
    margin-left: -65px;
    cursor: pointer;
}

#record-toggle:checked~svg {
    -webkit-animation: spinning 3s ease-in-out infinite alternate;
    animation: spinning 3s ease-in-out infinite alternate;
}

#record-recording:checked~svg .circle-svg {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    -webkit-animation: dash 3s ease-in-out infinite alternate;
    animation: dash 3s ease-in-out infinite alternate;
}

#record-recording:checked~.mic {
    transform: scale(1.128);
    -webkit-animation: gone 0.5s 0.3s ease;
    animation: gone 0.5s 0.3s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#record-recording:checked~.recording {
    opacity: 1;
    transform: scale(0.98);
    transition-delay: 0.3s;
}

@-webkit-keyframes spinning {
    to {
        transform: rotatez(360deg);
    }
}

@keyframes spinning {
    to {
        transform: rotatez(360deg);
    }
}

@-webkit-keyframes gone {
    to {
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes gone {
    to {
        transform: scale(0.5);
        opacity: 0;
    }
}

@-webkit-keyframes recording {
    0% {
        transform: translatey(0%);
    }

    30% {
        transform: translatey(-30%);
    }

    60% {
        transform: translatey(30%);
    }

    90% {
        transform: translatey(0%);
    }
}

@keyframes recording {
    0% {
        transform: translatey(0%);
    }

    30% {
        transform: translatey(-30%);
    }

    60% {
        transform: translatey(30%);
    }

    90% {
        transform: translatey(0%);
    }
}

@-webkit-keyframes dash {
    from {
        stroke-dashoffset: 300;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 300;
    }

    to {
        stroke-dashoffset: 0;
    }
}

#play-button-container {
    width: 100%;
    height: 70px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.play-button {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    transition: clip-path .3s ease;
}

.play-button-before {
    clip-path: polygon(0 0, 50% 25%, 50% 75%, 0% 100%);
}

.play-button-after {
    clip-path: polygon(50% 25%, 100% 50%, 100% 50%, 50% 75%);
}

#play-button-container:hover .play-button-before {
    clip-path: polygon(0 0, 30% 0, 30% 100%, 0% 100%);
}

#play-button-container:hover .play-button-after {
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 70% 100%)
}

@keyframes button-shadow {
    from {
        transform: rotate(0);
        bottom: -5px;
        right: -5px;
        opacity: 1;
    }

    to {
        transform: rotate(40deg);
        bottom: 50px;
        right: -60px;
        opacity: 0;
    }
}

@keyframes button-arrow-rotate {
    0% {
        width: 15px;
        margin: -25px auto 0;
    }

    1% {
        width: 10px;
        height: 0px;
        margin-top: 15px;
        transform: rotate(45deg);
    }

    100% {
        width: 10px;
        margin-top: 15px;
        transform: rotate(45deg);
        height: 35px;
    }
}

@keyframes button-arrow-down {
    from {
        bottom: -25px;
        opacity: 1;
    }

    to {
        bottom: -40px;
        opacity: 0;
    }
}

@keyframes button-arrow-up {
    0% {
        height: 20px;
        transform: rotateZ(45deg);
        right: -7px;
    }

    1% {
        right: 0px;
        height: 10px;
        width: 0;
        transform: rotateZ(0);
    }

    100% {
        right: 0px;
        height: 10px;
        width: 20px;
        transform: rotateZ(0);
    }
}

button {
    background-color: transparent;
    width: 192px;
    height: 70px;
    border: none;
    outline: none;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

#play-button-container:hover,
button#btn-auto-click:hover {
    border: 3px solid #ffff;
    border-radius: 5px;
}

button .arrow {
    height: 25px;
    width: 15px;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin: -25px auto 0;
    position: relative;
}

button .arrow:after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 2px;
    transform: rotateZ(45deg) translate(1px, 7px);
    bottom: 0;
    right: -7px;
    transition: all 0.5s;
    transition-delay: 0.5s;
}

button .arrow:before {
    content: "";
    background-color: #FFFFFF;
    width: 25px;
    height: 10px;
    position: absolute;
    left: -5px;
    bottom: -25px;
    border-radius: 2px;
    transition: all 0.5s;
}

button:after,
button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    bottom: -5px;
    right: -5px;
    border-radius: 5px;
}

button:after {
    animation-play-state: pause;
}

button:active {
    width: 180px;
    height: 90px;
}

button:focus:after {
    animation: button-shadow 1s;
}

button:focus .arrow {
    animation: button-arrow-rotate 0.5s forwards;
    animation-delay: 0.5s;
}

button:focus .arrow:after {
    animation: button-arrow-up 0.5s forwards;
    animation-delay: 0.5s;
}

button:focus .arrow:before {
    animation: button-arrow-down 0.5s forwards;
}

input#upload {
    display: block;
}

input#upload::-webkit-file-upload-button {
    position: absolute;
    padding: 10px 20px;
    background-color: peru;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    transition: 100ms ease-out;
    cursor: pointer;
}

input#upload::-webkit-file-upload-button:hover {
    background-color: #bd6e1f;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12)
}

.support-file {
    bottom: -50px;
}